/* Formatting for the non-post-viewing sections of the browse page */

.sectionname
{
    padding-bottom: 5px;
}

.createbutton
{
    background-color: rgba(107, 97, 115, 1.0);
    
    border-style: solid;
    border-width: 3px;
    border-color: rgba(233, 233, 233, 0.8);
    border-radius: 5px;

    color: rgba(233, 233, 233, 1.0);
    text-align: center;
    font-size: 12px;

    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 4px;
    padding-right: 4px;

    margin-top: 0px;
    margin-bottom: 4px;
    
    overflow: hidden;

    width: 20%;

    cursor: pointer;
}
.createbutton:hover
{
    border-color: rgba(233, 233, 233, 1.0);
}

.category
{
    display: flex;
    flex-direction: row;
}

.categories
{
    display: flex;
    flex-direction: column;
}

.threads
{
    display: flex;
    flex-direction: column;
}

.categoryInfo
{
    background-color: rgba(71, 59, 75, 1.0);

    border-style: solid;
    border-width: 1px;
    border-color: rgba(233, 233, 233, 0.8);

    padding-left: 4px;
    padding-right: 4px;
    margin-left: 4px;

    width: 70%;
}

.lockedCategoryInfo
{
    background-color: rgba(77, 77, 77, 1.0);

    border-style: solid;
    border-width: 1px;
    border-color: rgba(233, 233, 233, 0.8);

    padding-left: 4px;
    padding-right: 4px;
    margin-left: 4px;

    width: 70%;
}

.imageholder
{
    display: flex;

    margin-left: 5px;
}

.flag, .lock
{
    height: 25px;
    width: 25px;

    padding: 1px;
}

.categoryLastUpdate
{
    background-color: rgba(143, 126, 163, 1.0);

    border-style: solid;
    border-width: 1px;
    border-color: rgba(233, 233, 233, 0.8);

    color: rgba(233, 233, 233, 1.0);
    text-align: center;

    padding-left: 4px;
    padding-right: 4px;

    width: 30%;
}

.lockedCategoryLastUpdate
{
    background-color: rgba(107, 107, 107, 1.0);

    border-style: solid;
    border-width: 1px;
    border-color: rgba(233, 233, 233, 0.8);

    color: rgba(233, 233, 233, 1.0);
    text-align: center;

    padding-left: 4px;
    padding-right: 4px;

    width: 30%;
}

/* Stuff for formatting posts and etc. in the thread */

.postBar
{
    background-color: rgba(71, 59, 75, 1.0);

    border-style: solid;
    border-width: 1px;
    border-color: rgba(233, 233, 233, 0.8);

    color: rgba(233, 233, 233, 1.0);

    padding-left: 4px;
    padding-right: 4px;
}

.subbutton
{
    background-color: rgba(107, 97, 115, 1.0);
    
    border-style: solid;
    border-width: 3px;
    border-color: rgba(233, 233, 233, 0.8);
    border-radius: 5px;

    color: rgba(235, 224, 141, 1.0);
    text-align: center;
    font-size: 12px;

    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 4px;
    padding-right: 4px;

    margin-top: 0px;
    margin-bottom: 4px;
    
    overflow: hidden;

    width: 20%;

    cursor: pointer;
}
.subbutton:hover
{
    border-color: rgba(235, 224, 141, 1.0);
}

.postText
{
    background-color: rgba(143, 126, 163, 1.0);

    border-style: solid;
    border-width: 1px;
    border-color: rgba(233, 233, 233, 0.8);

    color: rgba(233, 233, 233, 1.0);
    text-align: left;

    padding: 4px;
    padding-bottom: 15px;
}

.postText img
{
    max-width: 100%;
}

.posttimestamp
{
    color: rgba(71, 59, 75, 1.0);
    text-align: right;
    font-size: 10px;
}

.postfunctions
{
    background-color: rgba(71, 59, 75, 1.0);

    border-style: solid;
    border-width: 1px;
    border-color: rgba(233, 233, 233, 0.8);

    color: rgba(233, 233, 233, 1.0);

    padding-left: 4px;
    padding-right: 4px;
}

.postreportbutton
{
    background-color: rgba(107, 97, 115, 1.0);
    
    border-style: solid;
    border-width: 3px;
    border-color: rgba(233, 233, 233, 0.8);
    border-radius: 5px;

    color: rgba(253, 144, 120, 1.0);
    text-align: center;

    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 4px;
    padding-right: 4px;

    margin: 5px;
    
    overflow: hidden;

    float: left;

    cursor: pointer;
}
.postreportbutton:hover
{
    background-color: rgba(253, 144, 120, 1.0);

    color: rgba(107, 97, 115, 1.0);
}

.postingUtilities
{
    float: right;
}

.postquotebutton
{
    background-color: rgba(107, 97, 115, 1.0);
    
    border-style: solid;
    border-width: 3px;
    border-color: rgba(233, 233, 233, 0.8);
    border-radius: 5px;

    color: rgba(0, 205, 255, 1.0);
    text-align: center;

    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 4px;
    padding-right: 4px;

    margin: 5px;
    
    overflow: hidden;

    float: left;

    cursor: pointer;
}
.postquotebutton:hover
{
    border-color: rgba(0, 205, 255, 1.0);
}

.postbutton
{
    background-color: rgba(107, 97, 115, 1.0);
    
    border-style: solid;
    border-width: 3px;
    border-color: rgba(233, 233, 233, 0.8);
    border-radius: 5px;

    color: rgba(233, 233, 233, 1.0);
    text-align: center;

    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 4px;
    padding-right: 4px;

    margin: 5px;
    
    overflow: hidden;

    float: left;

    cursor: pointer;
}
.postbutton:hover
{
    border-color: rgba(233, 233, 233, 1.0);
}

.posteditbutton
{
    background-color: rgba(107, 97, 115, 1.0);
    
    border-style: solid;
    border-width: 3px;
    border-color: rgba(233, 233, 233, 0.8);
    border-radius: 5px;

    color: rgba(235, 224, 141, 1.0);
    text-align: center;

    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 4px;
    padding-right: 4px;

    margin: 5px;
    
    overflow: hidden;

    float: left;

    cursor: pointer;
}
.posteditbutton:hover
{
    border-color: rgba(235, 224, 141, 1.0);
}

.postdeletebutton
{
    background-color: rgba(107, 97, 115, 1.0);
    
    border-style: solid;
    border-width: 3px;
    border-color: rgba(233, 233, 233, 0.8);
    border-radius: 5px;

    color: rgba(253, 144, 120, 1.0);
    text-align: center;

    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 4px;
    padding-right: 4px;

    margin: 5px;
    
    overflow: hidden;

    float: left;

    cursor: pointer;
}
.postdeletebutton:hover
{
    border-color: rgba(253, 144, 120, 1.0);
}

.postspace
{
    margin-bottom: 5px;
}

/* Formats the page utilities */
.pageheader
{
    color: rgba(255, 255, 255, 1.0);
    text-align: center;

    margin-top: 0px;
    margin-bottom: 0px;
}
.pageutilities
{
    text-align: center;

    margin-left: auto;
    margin-right: auto;
    
    display: flex;
    flex-direction: row;
}

.pageBack
{
    margin-left: 4px;
    margin-right: 4px;
    
    display: inline;
}
.pageJump
{
    flex-direction: row;

    margin-left: 2px;
    margin-right: 4px;

    display: inline;
}
.pageBack
{
    margin-left: 4px;
    margin-right: 4px;

    display: inline;
}

.pageinput
{
    vertical-align: middle;
    width: 3;

    margin-top: 7px;
    margin-bottom: 5px;
    margin-left: 0px;
    margin-right: 1px;

    float: left;
}

.pagebutton
{
    background-color: rgba(107, 97, 115, 1.0);
    
    border-style: solid;
    border-width: 3px;
    border-color: rgba(233, 233, 233, 0.8);
    border-radius: 5px;

    color: rgba(233, 233, 233, 1.0);
    text-align: center;
    font-size: 14px;

    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 4px;
    padding-right: 4px;

    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 1px;
    margin-right: 1px;
    
    overflow: hidden;

    float: left;

    cursor: pointer;
}
.pagebutton:hover
{
    border-color: rgba(233, 233, 233, 1.0);

    color: rgba(255, 255, 255, 1.0);
}

/* Formats the page in a responsive style so it looks good on mobile */

@media screen and (max-width: 735px)
{
    .createbutton
    {
        width: 100%;
    }

    .category
    {
        flex-direction: column;
        align-self: center;
        width: 100%;
    }

    .categoryInfo
    {
        text-align: center;
        
        margin-left: 0px;

        width: 100%;
    }
    .lockedCategoryInfo
    {
        text-align: center;
        
        margin-left: 0px;

        width: 100%;
    }

    .categoryLastUpdate
    {
        width: 100%;
    }
    .lockedCategoryLastUpdate
    {
        width: 100%;
    }

    .imageholder
    {
        display: flex;

        flex-direction: row;
        align-self: center;
    }

    .subbutton
    {
        width: 100%;
    }

    .postreportbutton
    {
        float: none;
        margin-bottom: 0px;
    }

    .postingUtilities
    {
        width: 100%;
        align-content: center;
        display: flex;
    }

    .postquotebutton
    {
        width: 50%;
    }
    .postbutton
    {
        width: 50%;
    }
    .posteditbutton
    {
        width: 50%;
    }
    .postdeletebutton
    {
        width: 50%;
    }
}